.button{
    cursor: pointer;
    position: relative;
    font-size: 0.8rem;
    &::after{
        content: "";
        width: 110%;
        border-radius: 1rem;
        position: absolute;
        left: 50%;
        top: calc(100% + 11px);
        transform: translate(-50%, -50%);
        transform-origin: left;
        background-color: #1D3A44;
    }
    &:hover::after {
        height: 2px;
    }
}
