.facility_excel_container{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    gap: 1.5rem;
    min-height: 500px;
    grid-template-columns: 0.375fr 0.675fr;
    // grid-template-columns:0px auto;
    @media (max-width:1260px) {
        grid-template-columns:auto;
      }
}

.facility_excel_img_container{
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
    @media (max-width:1260px) {
        display: none;
    }
}

.facility_excel_img{
    width: 100%;
    height: 253.3125px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}