@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.bg-main{
  background-color: #1D3A44;
}.color-main{
  color: #1D3A44;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  overflow-x: hidden;
  background-color: rgb(236, 236, 236);;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.ag-cell{
  font-size: 11px;
}

.container-grid{
  grid-template-columns: 264px auto;
  overflow: hidden;
}
.noto-sans-kr{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
}

.sideNav-container::after{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 0;
}
.container-box{
  flex-direction: row;
}.main-cnc-img{
  display: block;
}.main-plan-img{
  width: 80%;
  display: none;
}.main-info-contents-box{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}.main-info-contents-box>div{
  max-width: 420px;
}.container-mainBanner{
  height: 70vh;
}.nav-bg{
  background-color: rgb(236, 236, 236);
  z-index: -1;
  top:-3rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.516);
}
/* ---------------모바일---------------- */
@media (max-width: 1024px) {
  .container-mainBanner{
    height: 30rem;
  }
  .container-grid{
      grid-template-columns: 0px auto;
  }.container-box{
    flex-direction: column;
  }.main-cnc-img{
    display: none;
  }.main-plan-img{
    display: flex;
    opacity: 0.1;
  }.main-info-contents-box{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }.main-info-contents-box>div{
    max-width: 100%;
  }
}


.test-box{
  transition: all 1s;
}
.test-box:hover{
  scale: 1.5;
}