.technology-container{
    grid-template-columns: 264px auto;
    overflow: hidden;
}


/* ---------------모바일---------------- */
@media (max-width: 1024px) {
    .technology-container{
        grid-template-columns: 0px auto;
    }
}